
<input id="red" type="text" value="205" class="dial" data-max="255"><span>Red</span>
<input id="green" type="text" value="205" class="dial" data-max="255"><span>Green</span>
<input id="blue" type="text" value="55" class="dial" data-max="255"><span>Blue</span>

<div id="panel" style="height: 300px; width: 1000px; background-color: black;">

</div>

<script>
    $(function() {
        $(".dial").knob({
            'change' : function () {

              var red = $("#red").val();
              var green = $("#green").val();
              var blue = $("#blue").val();

              $("#panel").css('background-color', "rgb(" +red+"," +green+ ","+blue+")");

            }
        });
    });

</script>
